# File types
*~
*.org
*.odt

# Specific files
fromUBcluster-spatialEWS.txt
data/networks.rds
data/nets-for-git.R
data/add-gkk.R

# Directories
docs/
img/
old/
# data/networks/
data/sims/
outfiles/
tex/